@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 350ms;
}

body {
    background-color: #F2D2BD;
}

.container {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    background-color: #89CFF0;
    width: 100%;
    height: 125px;
    z-index: 1;
}

.container .logo img {
    width: 25%;
    margin-top: 5px;
    cursor: pointer;
}

.container .logo img:hover {
    scale: 1.05;
}

.container .text-box {
    margin-top: 25px;
    border: 1px solid #ccc;
    padding: 5px;
    height: 30px;
    background: #d9d9d9;
    border-radius: 5px;
}

.container .text-box .email-icon {
    position: absolute;
    margin-left: -40px;
    margin-top: -7px;
    font-size: 30px;
}

.container .text-box .phone-icon {
    position: absolute;
    margin-left: -35px;
    margin-top: -3px;
    font-size: 25px;
}

.container .text-box .email-icon:hover,
.container .text-box .phone-icon:hover {
    transform: translateY(-5px);
}

.container .text-box .email,
.phone {
    font-size: 10px;
    font-style: italic;
    color: #585c68;
}

.container .soc-med {
    display: flex;
    gap: 1rem;
    font-size: 3rem;
    margin-top: 15px;
    margin-left: -50px;
}

.soc-med .facebook a {
    color: #3b5998;
}

.soc-med .instagram a {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.soc-med .facebook:hover,
.soc-med .instagram:hover {
    scale: 1.05;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

li a:hover {
    color: #fff;
}

header {
    position: relative;
    padding: 0 2rem;
}

/* NAV BAR */
.navbar {
    position: fixed;
    top: 80px;
    left: 110px;
    width: 100%;
    height: 90px;
    max-width: 1100px;
    background-color: #6495ED;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 5px;
    z-index: 1;
}

.navbar .links {
    margin-left: 80px;
    display: flex;
    gap: 5rem;
}

.navbar .toggle_btn {
    position: absolute;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    margin-left: 60px;
    display: none;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    /* right: 2rem; */
    top: 90px;
    height: 0;
    width: 375px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 100;
}

.dropdown_menu.open {
    height: 400px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3.5rem;
}

.dropdown_menu li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.dropdown_menu li a:hover {
    color: #fff;
}

/* SEARCH BAR */
.search-box {
    position: relative;
    height: 40px;
    width: 100%;
    margin: 0 60px;
    border-radius: 6px;
    background-color: #fff;
}

.search-box .search {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 15px 0 40px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

.search-box .search-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TOYS */
.section {
    position: absolute;
    background-color: #252121;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 75%;
    margin: 13rem auto auto 10rem;
    border-radius: 5px;
}

.section img {
    height: 250px;
    margin-right: -20px;
}

.section h1 {
    font-family: 'Signika Negative', sans-serif;
    color: greenyellow;
}

.section p {
    font-family: 'Varela Round', sans-serif;
    color: #c0bdbd;
    margin: 15px;
    text-align: justify;
    line-height: 30px;
}

.section-2 {
    position: absolute;
    background-color: #252121;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 75%;
    margin: 35rem auto auto 10rem;
    border-radius: 5px;
}

.section-2 img {
    height: 250px;
    margin-right: -20px;
}

.section-2 h1 {
    font-family: 'Signika Negative', sans-serif;
    color: greenyellow;
}

.section-2 p {
    font-family: 'Varela Round', sans-serif;
    color: #c0bdbd;
    margin: 15px;
    text-align: justify;
    line-height: 30px;
}

.section-3 {
    position: absolute;
    background-color: #252121;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 75%;
    margin: 57rem auto auto 10rem;
    border-radius: 5px;
}

.section-3 img {
    height: 250px;
    margin-right: -20px;
}

.section-3 h1 {
    font-family: 'Signika Negative', sans-serif;
    color: greenyellow;
}

.section-3 p {
    font-family: 'Varela Round', sans-serif;
    color: #c0bdbd;
    margin: 15px;
    text-align: justify;
    line-height: 30px;
}

.section-4 {
    position: absolute;
    background-color: #252121;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 75%;
    margin: 79rem auto auto 10rem;
    border-radius: 5px;
}

.section-4 img {
    height: 250px;
    margin-right: -20px;
}

.section-4 h1 {
    font-family: 'Signika Negative', sans-serif;
    color: greenyellow;
}

.section-4 p {
    font-family: 'Varela Round', sans-serif;
    color: #c0bdbd;
    margin: 15px;
    text-align: justify;
    line-height: 30px;
}

.section-5 {
    position: absolute;
    background-color: #252121;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 75%;
    margin: 101rem auto auto 10rem;
    border-radius: 5px;
}

.section-5 img {
    height: 250px;
    margin-right: -20px;
}

.section-5 h1 {
    font-family: 'Signika Negative', sans-serif;
    color: greenyellow;
}

.section-5 p {
    font-family: 'Varela Round', sans-serif;
    color: #c0bdbd;
    margin: 15px;
    text-align: justify;
    line-height: 30px;
}

.section-6 {
    position: absolute;
    background-color: #252121;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 75%;
    margin: 123rem auto auto 10rem;
    border-radius: 5px;
}

.section-6 img {
    height: 250px;
    margin-right: -20px;
}

.section-6 h1 {
    font-family: 'Signika Negative', sans-serif;
    color: greenyellow;
}

.section-6 p {
    font-family: 'Varela Round', sans-serif;
    color: #c0bdbd;
    margin: 15px;
    text-align: justify;
    line-height: 30px;
}

/* width */
::-webkit-scrollbar {
    width: 1px;
}

/* PAGE LOADEr */
.page-loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #333;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    position: relative;
    top: 35%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-color: var(--primary);
    padding: 40px;
    border: 15px double var(--alt-red);
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
    animation: sk-scaleout 1.5s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

/* RESPONSIVE */
@media (max-width: 1218px) and (min-width:768px) {
    .navbar {
        left: 0;
        width: 100%;
        max-width: 1300px;
    }

    .section h1,
    .section-2 h1,
    .section-3 h1,
    .section-4 h1,
    .section-5 h1,
    .section-6 h1 {
        text-align: center;
        font-size: 25px;
    }

    .section p,
    .section-2 p,
    .section-3 p,
    .section-4 p,
    .section-5 p,
    .section-6 p {
        font-size: 15px;
    }
}

@media (max-width: 1078px) {
    .navbar .links {
        gap: 50px;
    }

    .container .text-box {
        margin-left: -80px;
    }

    .section,
    .section-2,
    .section-3,
    .section-4,
    .section-5,
    .section-6 {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 1020px) {
    .container .text-box {
        display: none;
    }

    .container .logo img {
        width: 23%;
    }
}

@media (max-width: 919px) {
    .navbar .links {
        gap: 30px;
    }
}

@media (max-width: 817px) {
    .container .text-box {
        display: none;
    }

    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
        margin-left: 50px;
    }

    .search-box {
        width: 80%;
        margin-left: 110px;
    }

    .dropdown_menu {
        display: block;
        width: 100%;
    }

    .txt h1 {
        font-size: 30px;
    }
}

@media (max-width: 778px) {
    .navbar {
        left: 0;
        width: 100%;
        max-width: 1300px;
    }

    .section img,
    .section-2 img,
    .section-3 img,
    .section-4 img,
    .section-5 img,
    .section-6 img {
        height: 150px;
    }

    .section h1,
    .section-2 h1,
    .section-3 h1,
    .section-4 h1,
    .section-5 h1,
    .section-6 h1 {
        text-align: center;
    }
}

@media (max-width: 662px) {
    .section img,
    .section-2 img,
    .section-3 img,
    .section-4 img,
    .section-5 img,
    .section-6 img {
        display: none;
    }

    .section h1,
    .section-2 h1,
    .section-3 h1,
    .section-4 h1,
    .section-5 h1,
    .section-6 h1 {
        text-align: center;
        font-size: 25px;
    }

    .section p,
    .section-2 p,
    .section-3 p,
    .section-4 p,
    .section-5 p,
    .section-6 p {
        font-size: 15px;
    }
}

@media (max-width: 444px) {
    .navbar {
        left: 0;
        width: 100%;
        max-width: 1300px;
    }

    .container .logo img {
        margin-left: 10px;
    }

    .container .text-box {
        display: none;
    }

    .container .text-box .email-icon,
    .container .text-box .phone-icon {
        display: none;
    }

    .container .text-box .email,
    .container .text-box .phone {
        display: none;
    }

    .container .soc-med {
        margin-left: -60px;
    }

    .navbar .links {
        display: none;
    }

    .dropdown_menu {
        display: block;
    }

    .navbar .toggle_btn {
        display: block;
        margin-left: 50px;
    }

    .search-box {
        margin-right: 30px;
        width: 62%;
    }

    .toys {
        margin-left: -160px;
    }

    .section,
    .section-2,
    .section-3,
    .section-4,
    .section-5,
    .section-6 {
        width: 100%;
        height: 44%;
        margin-left: 160px;
    }

    .section img,
    .section-2 img,
    .section-3 img,
    .section-4 img,
    .section-5 img,
    .section-6 img {
        display: none;
    }

    .section h1,
    .section-2 h1,
    .section-3 h1,
    .section-4 h1,
    .section-5 h1,
    .section-6 h1 {
        text-align: center;
        font-size: 24px;
    }

    .section p,
    .section-2 p,
    .section-3 p,
    .section-4 p,
    .section-5 p,
    .section-6 p {
        font-size: 13px;
    }
}